body {
  margin: 0;
  padding: 0;
  font-family: RobotoCondensed, sans-serif;
}

.header_title {
  margin: 0 auto;
  font-family: Comforter Brush, sans-serif;
  font-size: 650%; /* ~92px */
  width: 38%;
}

nav {
  margin: 0 auto;
  font-family: Caveat, sans-serif;
  font-size: 350%;
  width: 44%;
}

.navigation_link {
  text-decoration: none;
  color: #000000;
  margin: 0 3%;
}

.navigation_link:hover {
  color: #8b0000;
}

main {
  margin: 3% 0;
}

.main_billy {
  width: 500px;
  margin: 0 auto;
}

.main_billy-play {
  margin: 0 auto;
  font-family: Caveat, sans-serif;
  font-weight: 700;
  font-size: 300%;
  width: 39%;
}

.main_rules {
  width: 75%;
  margin: 0 auto;
  font-size: 110%;
}

table, th, td {
  border: 1px solid #000000;
  margin: 0 auto;
}

.table_white-cell {
  width: 75px;
  height: 75px;
}

.table_gray-cell {
  background-color: #808080;
}