:root {
  --light-telegray: #d0d0d0;
  --yellow: #cfb53b;
  --green: #48c417;
  --red: #c53c17;
}

body {
  margin: 0;
  padding: 0;
  font-family: RobotoCondensed, sans-serif;
  background: url("../images/background.jpg") no-repeat fixed;
  background-size: 100% auto;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(217, 0, 0, 1);
}

.header_title {
  margin: 0 auto;
  font-family: Comforter Brush, sans-serif;
  font-size: 650%;
  width: 38%;
}

nav {
  position: fixed;
  margin: 0 3%;
  font-family: Caveat, sans-serif;
  font-size: 350%;
  width: 15%;
}

.navigation_link {
  display: block;
  text-decoration: none;
  color: #000000;
  margin: 0 3%;
}

.navigation_link:hover {
  color: #8b0000;
}

main {
  margin: 3% 0;
  display: flex;
}

.main_navigation {
  width: 17%;
  height: 500px;
}

.main_billy {
  width: 500px;
  margin: 0 auto;
  padding: 1% 1%;
  border-radius: 10px;
  background-color: rgba(217, 0, 0, 0.6)
}

.main_billy-play {
  margin: 0 auto;
  font-family: Caveat, sans-serif;
  font-weight: 700;
  font-size: 300%;
  width: 39%;
}

.main_rules {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.1% 1.5%;
  font-size: 110%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5)
}

.main_block-for-playtable {
  width: 40%;
  margin: 0 auto;
}

.main_play-table img {
  height: 75%;
  width: 75%;
  vertical-align: middle;
}

table, th, td {
  border: 1px solid #000000;
  margin: 0;
}

.main_play-table th, .main_play-table td {
  height: calc(min(7vh, 7vw));
  width: calc(min(7vh, 7vw));
  padding: 0;
  text-align: center;
}

.main_play-table tr:nth-child(even) td:nth-child(odd),
.main_play-table tr:nth-child(odd) td:nth-child(even) {
  background-color: #808080;
}

.main_play-table .prompt {
  background: var(--yellow) !important;
}

.main_play-table .can-be-filled {
  background: var(--green) !important;
}

.main_play-table .must-be-filled {
  background: var(--red) !important;
}

.status-and-buttons .buttons {
  margin-top: 5rem;
  display: flex;
  flex-flow: column;
}

button {
  font-size: 1rem;
  padding: .9rem;
  background: rgba(217, 0, 0, 1);
  border: .1rem solid #000000;
  border-radius: 10px 10px 10px 10px;
}

.bottom {
  margin-top: 5rem;
}

button:active {
  color: unset;
  background: #8b0000;
}

.turn{
  text-align: center;
}

.main_game-history {
  margin-right: 3vw;
  width: 20vw;
  height: 60vh;
  overflow-y: auto;
}

.game-history_list {
  padding-left: 13%;
  margin: 0;
}

.game-history-title {
  margin-top: 0;
  margin-bottom: 3%;
  margin-left: 8%;
}

footer {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(217, 0, 0, 1)
}