body {
  margin: 0;
  padding: 0;
  font-family: RobotoCondensed, sans-serif;
  background: url("../images/background.jpg") no-repeat fixed;
  background-size: 100% auto;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(217, 0, 0, 1)
}

.header_title {
  margin: 0 auto;
  font-family: Comforter Brush, sans-serif;
  font-size: 650%;
  width: 38%;
}

nav {
  position: fixed;
  margin: 0 3%;
  font-family: Caveat, sans-serif;
  font-size: 350%;
  width: 15%;
}

.navigation_link {
  display: block;
  text-decoration: none;
  color: #000000;
  margin: 0 3%;
}

.navigation_link:hover {
  color: #8b0000;
}

main {
  margin: 3% 0;
  display: flex;
}

.main_navigation {
  width: 17%;
  height: 500px;
}

.main_billy {
  width: 500px;
  margin: 0 auto;
  padding: 1% 1%;
  border-radius: 10px;
  background-color: rgba(217, 0, 0, 0.6)
}

.main_billy-play {
  margin: 0 auto;
  font-family: Caveat, sans-serif;
  font-weight: 700;
  font-size: 300%;
  width: 39%;
}

.main_rules {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.1% 1.5%;
  font-size: 110%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5)
}

.main_block-for-playtable {
  width: 50%;
  margin: 0 auto;
}

.main_play-table {
  /*table-layout: fixed;*/
  width: 100%;
}

.main_play-table img {
  vertical-align: middle;
}

/*.main_play-table th, .main_play-table td {*/
/*  height: calc(min(7vh, 7vw));*/
/*  width: calc(min(7vh, 7vw));*/
/*}*/

table, th, td {
  border: 1px solid #000000;
  margin: 0;
}

.table_white-cell {
  width: 75px;
  height: 75px;
}

.table_gray-cell {
  background-color: #808080;
}

.main_game-history {
  margin-right: 3vw;
  width: 20vw;
  height: 60vh;
  overflow-y: auto;
}

.game-history_list {
  padding-left: 13%;
  margin: 0;
}

.game-history-title {
  margin-top: 0;
  margin-bottom: 3%;
  margin-left: 8%;
}

footer {
  background-color: rgba(217, 0, 0, 1)
}