body {
  margin: 0;
  padding: 0;
  font-family: RobotoCondensed, sans-serif;
  background: url("../images/background.jpg") fixed;
  background-size: 100% auto;
}

.container {
  min-height: calc(100vh - 30px);
}

header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(178, 34, 34, 1);
}

.header_title {
  margin: 0 auto;
  font-family: Comforter Brush, sans-serif;
  font-size: 15vh;
  white-space: nowrap;
  width: 38vw;
  height: 18vh;
}

nav {
  position: fixed;
  margin: 0 3vw;
  font-family: Caveat, sans-serif;
  font-size: 9vh;
  width: 15vw;
}

.navigation_link {
  display: block;
  text-decoration: none;
  color: #000000;
  margin: 0;
}

.navigation_link:hover {
  color: #8b0000;
}

main {
  margin: 5vh 0;
  display: flex;
}

.main_navigation {
  width: 17vw;
  height: 500px;
}

.main_billy {
  width: 500px;
  margin: 0 auto;
  padding: 1% 1%;
  border-radius: 10px;
  background-color: rgba(217, 0, 0, 0.6)
}

.main_billy-play {
  margin: 0 auto;
  font-family: Caveat, sans-serif;
  font-weight: 700;
  font-size: 300%;
  width: 39%;
}

.main_rules {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.1% 1.5%;
  font-size: 110%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5)
}

.main_block-for-playtable {
  width: 35%;
  margin: 0 auto;
}

.main_play-table img {
  height: 75%;
  width: 75%;
  vertical-align: middle;
}

table, th, td {
  border: 1px solid #000000;
  margin: 0;
}

.main_play-table th, .main_play-table td {
  height: calc(min(7vh, 7vw));
  width: calc(min(7vh, 7vw));
  padding: 0;
  text-align: center;
}

.main_play-table tr:nth-child(even) td:nth-child(odd),
.main_play-table tr:nth-child(odd) td:nth-child(even) {
  background-color: #808080;
}

.main_play-table .prompt {
  background: #cfb53b !important;
}

.main_play-table .can-be-filled {
  background: #48c417 !important;
}

.main_play-table .must-be-filled {
  background: #c53c17 !important;
}

.main_play-table .killed {
  background: #db7093 !important;
}

.status-and-buttons .buttons {
  margin-top: 5rem;
  display: flex;
  flex-flow: column;
}

button {
  font-size: 1rem;
  padding: .9rem;
  background: rgba(217, 0, 0, 1);
  border: .1rem solid #000000;
  border-radius: 10px 10px 10px 10px;
}

button:active {
  color: unset;
  background: #8b0000;
}

button:hover {
  cursor: pointer;
}

.bottom {
  margin-top: 5rem;
}

.hidden {
  visibility: hidden;
}

.turn{
  text-align: center;
}

.main_game-history {
  margin-right: 1vw;
  width: 15vw;
  height: 60vh;
  overflow-y: auto;
}

.game-history_list {
  padding-left: 13%;
  margin: 0;
}

.game-history-title {
  margin-top: 0;
  margin-bottom: 3%;
  margin-left: 8%;
}

#move-list {
  overflow-y: auto;
  height: calc(100% - 5rem);
}

.col {
  display: flex;
  flex-direction: column;
  margin-right: 1vw;
}

textarea {
  height: 40vh;
}

footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 30px;
  background-color: rgba(178, 34, 34, 1);
}

.author-block_link {
  text-decoration: none;
  color: #4a0000;
}