<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Шашки онлайн - Игра</title>
  <link rel="stylesheet" th:href="@{styles/main.css}">
  <link href="https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<header>
  <h1 class="header_title">Шашки онлайн</h1>
</header>
<main>
  <div class="main_navigation">
    <nav>
      <a class="navigation_link" th:href="@{index}">Главная</a>
      <a class="navigation_link" th:href="@{rules}">Правила</a>
      <a class="navigation_link" th:href="@{game}">Играть</a>
    </nav>
  </div>
  <div class="main_block-for-playtable">
    <table class="main_play-table">
      <tr>
        <th></th>
        <th>a</th>
        <th>b</th>
        <th>c</th>
        <th>d</th>
        <th>e</th>
        <th>f</th>
        <th>g</th>
        <th>h</th>
        <th></th>
      </tr>
      <tr>
        <th>8</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th>8</th>
      </tr>
      <tr>
        <th>7</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th>7</th>
      </tr>
      <tr>
        <th>6</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th>6</th>
      </tr>
      <tr>
        <th>5</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th>5</th>
      </tr>
      <tr>
        <th>4</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th>4</th>
      </tr>
      <tr>
        <th>3</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th>3</th>
      </tr>
      <tr>
        <th>2</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th>2</th>
      </tr>
      <tr>
        <th>1</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th>1</th>
      </tr>
      <tr>
        <th></th>
        <th>a</th>
        <th>b</th>
        <th>c</th>
        <th>d</th>
        <th>e</th>
        <th>f</th>
        <th>g</th>
        <th>h</th>
        <th></th>
      </tr>
    </table>
  </div>
  <article class="status-and-buttons">
    <div class="buttons">
      <button id="start">Начало</button>
      <button id="example1">Пример 1</button>
      <button class="bottom" id="cancel-turn">Отменить ход</button>
      <button id="finish-turn">Завершить ход</button>
    </div>
    <h3 class="turn" id="status">Ходят белые</h3>
  </article>
  <article class="main_game-history">
    <h3 class="game-history-title">Ходы</h3>
    <ol class="game-history_list" id="move-list"></ol>
  </article>
  <article id="move-list-input-panel" class="request-position col">
    <textarea id="move-list-input"></textarea>
    <button id="show-turns">Показать</button>
    <div id="error-field"></div>
  </article>
</main>
<footer>
  <article class="footer_author-block">
    <span class="author-block_item">&copy Рыбина Варвара, 2021-2022</span>
    <span class="author-block_item">
      <a class="author-block_link" th:href="@{mailto:varvaryb@gmail.com?subject=Шашки онлайн}">(varvaryb@gmail.com)</a>
    </span>
  </article>
</footer>
<script th:src="@{scripts/main.js}"></script>
</body>
</html>