<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Шашки онлайн</title>
  <link rel="stylesheet" th:href="@{styles/main.css}">
  <link href="https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
  <header>
    <h1 class="header_title">Шашки онлайн</h1>
  </header>
  <main>
    <nav>
      <a class="navigation_link" th:href="@{index}">Главная</a>
      <a class="navigation_link" th:href="@{rules}">Правила</a>
      <a class="navigation_link" th:href="@{game}">Играть</a>
    </nav>
    <section class="main_billy">
      <img class="main_photo-billy" src="./images/billy.jpg" alt="Картинка потерялась"/>
      <h2 class="main_billy-play">Поиграем?</h2>
    </section>
  </main>
</div>
<footer>
  <article class="footer_author-block">
    <span class="author-block_item">&copy Рыбина Варвара, 2021-2022</span>
    <span class="author-block_item">
      <a class="author-block_link" th:href="@{mailto:varvaryb@gmail.com?subject=Шашки онлайн}">(varvaryb@gmail.com)</a>
    </span>
  </article>
</footer>
</body>
</html>