<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Шашки онлайн - Правила</title>
  <link rel="stylesheet" th:href="@{styles/main.css}">
  <link href="https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
  <header>
    <h1 class="header_title">Шашки онлайн</h1>
  </header>
  <main>
    <div class="main_navigation">
      <nav>
        <a class="navigation_link" th:href="@{index}">Главная</a>
        <a class="navigation_link" th:href="@{rules}">Правила</a>
        <a class="navigation_link" th:href="@{game}">Играть</a>
      </nav>
    </div>
    <section class="main_rules">
      <section class="main_general-rules">
        <p class="rules_paragraph">Шашечная доска располагается между партнерами таким образом, чтобы слева от играющего
          находилось тёмное угловое поле. В начальной позиции у каждой стороны по 12 шашек, которые занимают первые
          три ряда с каждой стороны. Игра ведется по тёмным полям. Шашки делятся на простые и дамки. В
          начальном положении все шашки простые. При достижении последнего (восьмого от себя)
          горизонтального ряда простая шашка превращается в дамку. Дамка обычно обозначается либо двумя
          шашками, поставленными друг на друга, либо перевернутой шашкой.</p>
        <h3 class="rules_title-of-list">Правила хода</h3>
        <ul class="rules_list">
          <li class="rules_list-item">Простая шашка ходит по диагонали вперёд на одну клетку.</li>
          <li class="rules_list-item">Дамка ходит по диагонали на любое свободное поле как вперёд, так и назад, но не
            может перескакивать свои шашки или дамки.
          </li>
        </ul>
        <h3 class="rules_title-of-list">Правила взятия</h3>
        <ul class="rules_list">
          <li class="rules_list-item">Взятие обязательно. Побитые шашки и дамки снимаются только после завершения хода.
          </li>
          <li class="rules_list-item">Простая шашка, находящаяся рядом с шашкой соперника, за которой имеется свободное
            поле, переносится через эту шашку на это свободное поле. Если есть возможность продолжить
            взятие других шашек соперника, то это взятие продолжается, пока бьющая шашка не достигнет положения,
            из которого бой невозможен. Взятие простой шашкой производится как вперёд, так и назад.
          </li>
          <li class="rules_list-item">Дамка бьёт по диагонали, как вперёд, так и назад, и становится на любое свободное
            поле после побитой шашки. Аналогично, дамка может бить несколько фигур соперника и должна
            бить до тех пор, пока это возможно.
          </li>
          <li class="rules_list-item">При бое через дамочное поле простая шашка превращается в дамку и продолжает бой
            по правилам дамки.
          </li>
          <li class="rules_list-item">При взятии применяется правило турецкого удара — за один ход шашку противника
            можно побить только один раз. То есть, если при бое нескольких шашек противника шашка или
            дамка повторно выходит на уже побитую шашку, то ход останавливается.
          </li>
          <li class="rules_list-item">При нескольких вариантах взятия, например, одну шашку или две, игрок выбирает
            вариант взятия по своему усмотрению.
          </li>
        </ul>
        <h3 class="rules_title-of-list">Выигрыш партии</h3>
        <p class="rules_paragraph">Партия считается выигранной в следующих случаях:</p>
        <ul class="rules_list">
          <li class="rules_list-item">если у одного из соперников побиты все шашки;</li>
          <li class="rules_list-item">если один из участников заявил о том, что сдаётся;</li>
          <li class="rules_list-item">если один из участников просрочил время.</li>
          <li class="rules_list-item">если шашки и дамки противника обездвижены</li>
        </ul>
        <p class="rules_paragraph">В турнирах возможен проигрыш за нарушение правил пользования контрольными часами, за
          нарушение правил откладывания партии и несоблюдение дисциплины.</p>
        <h3 class="rules_title-of-list">Ничья</h3>
        <p class="rules_paragraph"> Партия считается закончившейся вничью в следующих случаях:</p>
        <ul class="rules_list">
          <li class="rules_list-item">если один из участников предлагает ничью, а другой её принимает;</li>
          <li class="rules_list-item">при невозможности выигрыша ни одного из соперников;</li>
          <li class="rules_list-item">если три раза повторяется одна и та же позиция;</li>
          <li class="rules_list-item">если участник, имеющий три дамки (и более) против одной дамки противника, за 15
            ходов не возьмёт дамку противника;
          </li>
          <li class="rules_list-item">если в позиции, в которой оба соперника имеют дамки, не изменилось соотношение
            сил (то есть не было взятия, и ни одна простая шашка не стала дамкой) на протяжении:
            <ul class="rules_list-sublist">
              <li class="rules_sublist-item">в 2- и 3-фигурных окончаниях — 5 ходов,</li>
              <li class="rules_sublist-item">в 4- и 5-фигурных окончаниях — 30 ходов,</li>
              <li class="rules_sublist-item">в 6- и 7-фигурных окончаниях — 60 ходов;</li>
            </ul>
          </li>
          <li class="rules_list-item">если участник, имея в окончании партии три дамки, две дамки и простую, дамку и
            две простые, три простые против одинокой дамки, находящейся на большой дороге, своим 5-м
            ходом не сможет добиться выигранной позиции;
          </li>
          <li class="rules_list-item">если в течение 15 ходов игроки делали ходы только дамками, не передвигая простых
            шашек и не производя взятия.
          </li>
        </ul>
      </section>
      <div class="main_stripe"></div>
      <section class="main_general-designations">
        <p class="rules_paragraph">Шашечной нотацией называется система условных обозначений полей доски.
          Прямые ряды полей, состоящие из 8 полей (4 черных и 4 белых) и идущие снизу-вверх, называются вертикалями.
          Прямые ряды полей, состоящие из 8 полей (4 черных и 4 белых) и расположенные слева направо,
          называются горизонталями. Восемь горизонталей доски обозначаются цифрами от 1 до 8, восемь вертикалей -
          малыми латинскими буквами от «а» до «h» (a, b, с, d, e, f, g, h) или в русском произношении - «а»,
          «бэ», «це», «дэ», «e», «эф», «же», «аш»). Буквой «а» обозначается крайняя левая вертикаль со
          стороны играющего белыми (крайняя правая вертикаль со стороны играющего черными). Первой
          горизонталью считается горизонталь, ближайшая к играющему белыми.</p>
        <p class="rules_paragraph">Каждое поле доски обозначается в зависимости от того, на какой вертикали и на какой
          горизонтали оно находится, т.е. каждое поле обозначается сочетанием буквы и цифры,
          показывающих вертикальный и горизонтальный ряды, на пересечении которых расположено поле.</p>
        <p class="rules_paragraph">Пользование нотацией дает возможность записывать как целые партии, так и отдельные
          позиции, например, расположение шашек при начале партии записывается так: белые - а1, а3, b2, с1, с3,
          d2, е1, е3, f2, g1, g3, h2 (12); черные - a7, b6, b8, c7, d6, d8, e7, f6, f8, g7, h6, h8 (12).</p>
        <p class="rules_paragraph">Для записи хода шашки обозначают сначала поле, на котором шашка стояла, затем ставят
          тире и записывают поле, на которое она ставится, например: a3-b4. При записи взятия (боя) вместо
          тире ставится двоеточие. При взятии одним ходом нескольких шашек запись хода производится следующим образом:
          сначала записывается поле, с которого шашка начала свой ход, затем ставится двоеточие и обозначается
          поле, на которое она встала после боя. Если необходимо отметить направление взятия, то после записи поля,
          с которого начался бой, последовательно записывают обозначение полей, на которых совершалось изменение
          направления. Между обозначениями отдельных полей ставится двоеточие.</p>
        <p class="rules_paragraph">Например:</p>
        <ol class="rules_list">
          <li class="rules_list-item">d2:h6:f8:c5:a7</li>
          <li class="rules_list-item">d2:g5:e7:c5:a7</li>
          <li class="rules_list-item">d2:g5:d8:a5</li>
        </ol>
        <p class="rules_paragraph">При записи партии ходы сторон пишутся «в столбик». В левом столбике записываются
          ходы белых, в правом - черных, причем ход белых вместе с ответом черных нумеруется в записи как один ход.</p>
        <p class="rules_paragraph">Например:</p>
        <table class="rules_example">
          <tr>
            <th>#</th>
            <th>Белые: Иванов</th>
            <th>Черные: Петров</th>
          </tr>
          <tr>
            <td>1.</td>
            <td>e3-d4</td>
            <td>d6-c5</td>
          </tr>
          <tr>
            <td>2.</td>
            <td>f2-e3</td>
            <td>f6-g5</td>
          </tr>
          <tr>
            <td>3.</td>
            <td>c3-b4</td>
            <td>g5-h4</td>
          </tr>
          <tr>
            <td>4.</td>
            <td>b4:d6</td>
            <td>h4:f2</td>
          </tr>
          <tr>
            <td>5.</td>
            <td>el:g3</td>
            <td>c7:h4</td>
          </tr>
        </table>
        <p class="rules_paragraph">Белые сдались.</p>
        <p class="rules_paragraph">Кроме показанного выше способа полной записи допускается сокращенная запись, при
          помощи которой эту же партию можно записать так:</p>
        <p class="rules_paragraph">Иванов - Петров: 1. ed4 dc5 2. fe3 fg5 3. cb4 gh4 4. b:d6 h:f2 5. e:g3 c:h4. Белые
          сдались.</p>
      </section>
    </section>
  </main>
</div>
<footer>
  <article class="footer_author-block">
    <span class="author-block_item">&copy Рыбина Варвара, 2021-2022</span>
    <span class="author-block_item">
      <a class="author-block_link" th:href="@{mailto:varvaryb@gmail.com?subject=Шашки онлайн}">(varvaryb@gmail.com)</a>
    </span>
  </article>
</footer>
</body>
</html>